# Operating-system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.directory
.fuse_hidden*
.nfs*

# Editor and IDE files
.idea/
*.iml
*.iws
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
.\#*
\#*\#
